
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.landing-page-design-ngc {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-4h3a-DG8 {
    padding: 5rem 14rem 12rem 14rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-ayfe-ryJ {
      border-radius: 1.6rem;
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 100%;
      height: 60rem;
      background-size: 100% 164.194%;
      background-position: 0 -15.0131rem;
      background-image: url('REPLACE_IMAGE:b06a3f8385752f7825bdb4a51278226eef214f2f');

      .group-68-PiL {
        padding: 17.7rem 38.5rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%);
        border-radius: 1.6rem;
        box-sizing: border-box;

        .group-99-3nt {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .happy-new-year-Cfn {
            margin: 0rem 0.1rem 1.5rem 0rem;
            text-align: center;
            font-size: 3.2rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2575;
            font-family: Merriweather, 'Source Sans Pro';
          }
          .new-year-party-celebration-yCg {
            text-align: center;
            font-size: 7.2rem;
            font-weight: 900;
            line-height: 1.3194444444;
            color: #ffffff;
            font-family: Merriweather, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 55rem;
          }
        }
      }
      .auto-group-ayfe-ryJ-bg {
        width: 132rem;
        height: 60rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:b06a3f8385752f7825bdb4a51278226eef214f2f');
      }
    }
    .group-50-7TJ {
      flex-shrink: 0;
      margin: 0rem 25.81rem 12rem 25.9rem;
      width: calc(100% - 51.71rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .off-c9A {
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0.19rem 4.8rem 0rem;
        text-align: center;
        font-size: 8.8rem;
        color: #ff0000;
      }
      .group-45-hgQ {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-10-Tfa {
          margin: 0rem 19.69rem 4.7rem 19.6rem;
          width: calc(100% - 39.29rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .our-holiday-deals-are-better-PJL {
            margin: 0rem 0rem 1.5rem 0.1rem;
            line-height: 1.2125;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            white-space: nowrap;
          }
          .all-categories-g2Y {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #070211;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .vector-xEx {
          width: 80.29rem;
          height: 50rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-98-TSc {
      margin-bottom: 12rem;
      height: 60rem;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:114:6289');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 6.811rem 13.8rem 6.723rem 12.6rem;
      width: 100%;
      background-size: cover;
      background-position: center;

      .auto-group-d1m6-xeG {
        margin: 5.789rem 4.817rem 7.377rem 0rem;
        width: 68.8rem;
        height: calc(100% - 13.1662rem);
        flex-shrink: 0;

        .welcome-to-midnight-party-Gur {
          font-family: Merriweather, 'Source Sans Pro';
          margin-bottom: 2.4rem;
          max-width: 59.1rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.375;
          letter-spacing: 0.704rem;
          color: #ffffff;
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-yZN {
          color: rgba(255, 255, 255, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 4.8rem;
          max-width: 68.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
        }
        .join-now-qrU {
          width: 100%;
          font-weight: 700;
          line-height: 1.2125;
          text-transform: uppercase;
          color: #ffffff;
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .group-70-A84 {
        width: 31.983rem;
        height: 46.4662rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-93-4jE {
      box-sizing: border-box;
      padding: 10rem 38.6rem 11rem 38.5rem;
      height: 48.2rem;
      background-repeat: no-repeat;
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:114:9913');

      .group-92-bDN {
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 0 0.15rem;
        width: 100%;
        height: 100%;

        .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-LRr {
          margin-bottom: 4.8rem;
          max-width: 54.6rem;
          font-weight: 600;
          text-transform: capitalize;
          color: #070211;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.75;
          flex-shrink: 0;

          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-LRr-sub-0 {
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.75;
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-LRr-sub-1 {
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-LRr-sub-2 {
            font-weight: 600;
            line-height: 1.75;
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-LRr-sub-3 {
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-LRr-sub-4 {
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.75;
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-LRr-sub-5 {
          }
        }
        .frame-1-yv4 {
          border-radius: 0.8rem;
          line-height: 1.2125;
          text-transform: uppercase;
          white-space: nowrap;
          align-items: center;
          margin: 0 18.95rem;
          height: 5.6rem;
          font-size: 2rem;
          color: #ffffff;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          background-color: #ff0000;
          width: calc(100% - 37.9rem);
          font-weight: 700;
          display: flex;
          justify-content: center;
        }
      }
    }
    .auto-group-4esg-C28 {
      margin-bottom: 11.8rem;
      width: 100%;
      height: 46.5rem;
      position: relative;
      flex-shrink: 0;

      .group-48-7et {
        width: 132rem;
        height: 46.3rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;

        .group-46-Qtt {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 10.4rem 7.3rem 10.4rem 0rem;
          height: calc(100% - 20.8rem);

          .group-17-jgG {
            margin-bottom: 2.1rem;
            width: 32.8rem;
            flex-shrink: 0;

            .new-best-offer-Gw6 {
              margin-bottom: 1.5rem;
              width: 100%;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2125;
              white-space: nowrap;
              text-align: center;
              color: #ff0000;
              font-family: Inter, 'Source Sans Pro';
            }
            .coming-soon-BoA {
              font-size: 4.8rem;
              font-weight: 900;
              line-height: 1.2575;
              text-transform: capitalize;
              color: #070211;
              font-family: Merriweather, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-6QL {
            font-weight: 400;
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 39rem;
            font-size: 2rem;
          }
        }
        .group-20-9tQ {
          margin-right: 11.8rem;
          width: 46.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-1-6Yk {
            height: 36.4844rem;
            position: absolute;
            left: 4.9078rem;
            top: 4.9078rem;
            background-position: -9.1279rem 0;
            width: 36.4844rem;
            background-image: url('REPLACE_IMAGE:288d8ac3517dc6676cf84411f416ac8ce35e396b');
            border-radius: 18.2422rem;
            background-size: 150.038% 100%;

            .ellipse-1-6Yk-bg {
              width: 36.4844rem;
              height: 36.4844rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:288d8ac3517dc6676cf84411f416ac8ce35e396b');
            }
          }
          .ellipse-2-Xtx {
            left: 0;
            top: 0;
            border: solid 1.5rem #ff0000;
            box-sizing: border-box;
            border-radius: 23.15rem;
            width: 46.3rem;
            height: 46.3rem;
            position: absolute;
          }
        }
        .group-18-eig {
          margin: 11.2rem 0rem 18.1rem 0rem;
          height: calc(100% - 29.3rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-2024-Ah2 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 0.033rem;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ff0000;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-gQU {
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 27.6rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
          }
        }
      }
      .group-96-nCc {
        object-fit: contain;
        vertical-align: top;
        width: 14rem;
        height: 14rem;
        position: absolute;
        left: 104.4rem;
        top: 32.5rem;
      }
    }
    .group-82-JRr {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 100%;
      align-items: center;

      .group-78-Fbz {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 16.75rem 6.4rem 16.75rem;
        width: calc(100% - 33.5rem);
        align-items: center;

        .group-77-auA {
          margin: 0rem 15.45rem 2.8rem 15.35rem;
          width: calc(100% - 30.8rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .what-is-functional-Wnp {
            margin-bottom: 1.5rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #070211;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .holidays-sale-50-Eyi {
            line-height: 1.2102272246;
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;
            flex-shrink: 0;
            text-align: center;
            font-weight: 700;
            white-space: nowrap;
            display: flex;
            font-size: 7.2rem;
            color: #070211;

            .holidays-sale-50-Eyi-sub-0 {
              line-height: 1.2575;
              color: #ff0000;
              font-family: Merriweather, 'Source Sans Pro';
              font-size: 7.2rem;
              font-weight: 900;
            }
            .holidays-sale-50-Eyi-sub-1 {
              font-weight: 900;
              line-height: 1.2575;
              color: #070211;
              font-family: Merriweather, 'Source Sans Pro';
              font-size: 7.2rem;
            }
          }
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-eleifend-nunc-purus-quam-id-fermentum-amet-amet-sit-consectetur-8Bv {
          max-width: 98.5rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.6;
          color: rgba(7, 2, 17, 0.6000000238);
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-6bek-xwe {
        flex-shrink: 0;
        width: 100%;
        height: 66.207rem;
        position: relative;

        .group-79-JVi {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 132rem;
          height: 66.207rem;
          position: absolute;
        }
        .group-83-Srp {
          top: 0;
          width: 58.2438rem;
          height: 43.3rem;
          position: absolute;
          left: 73.7562rem;

          .rectangle-1-aTE {
            top: 0;
            background-position: -5.998rem 0;
            background-image: url('REPLACE_IMAGE:a92c606c3423b2e65635b13cdcddc7b4787f5a0d');
            height: 43.3rem;
            position: relative;
            background-size: 151.553% 100%;
            border-radius: 1.6rem 1.6rem 0 0;
            width: 42.9rem;
            left: 15.3438rem;
          }
          .objects-ehz {
            background-repeat: no-repeat;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            width: 30.5735rem;
            height: 30.5754rem;
            position: absolute;
            left: -0.003rem;
            top: 7.6956rem;
            background-image: url('REPLACE_IMAGE:114:9903');

            .vector-mnc {
              position: absolute;
              left: 0.9204rem;
              top: 0.9218rem;
              object-fit: contain;
              vertical-align: top;
              width: 28.7347rem;
              height: 28.7347rem;
            }
            .group-97-Uwv {
              width: 15.4499rem;
              height: 15.246rem;
              position: absolute;
              left: 6.3468rem;
              top: 5.8711rem;

              .item-5-C7E {
                width: 4.8rem;
                top: 6.3334rem;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                height: 8.9rem;
                position: absolute;
                left: 0;
                font-size: 7.3015rem;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-0-fmW {
                width: 11.3rem;
                height: 8.9rem;
                position: absolute;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                left: 3.8074rem;
                top: 0;
                font-size: 7.3015rem;
                font-weight: 700;
                color: #ffffff;
              }
              .dis-yGQ {
                position: absolute;
                font-size: 2.4338rem;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 4.2rem;
                left: 4.8063rem;
                top: 12.246rem;
                font-weight: 900;
                height: 3rem;
              }
              .c-54Y {
                width: 1.9rem;
                height: 3rem;
                position: absolute;
                left: 8.1273rem;
                top: 11.2813rem;
                font-size: 2.4338rem;
                font-weight: 900;
                color: #ffffff;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .oun-amz {
                width: 5.5rem;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                height: 3rem;
                position: absolute;
                left: 9.4962rem;
                top: 8.3264rem;
                font-size: 2.4338rem;
                font-weight: 900;
                white-space: nowrap;
              }
              .t-Ve4 {
                color: #ffffff;
                width: 1.4rem;
                height: 3.1rem;
                position: absolute;
                top: 7.4231rem;
                font-size: 2.4338rem;
                font-weight: 900;
                line-height: 1.2575;
                font-family: Raleway Black, 'Source Sans Pro';
                left: 14.0499rem;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .group-81-mba {
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 100%;
      height: 116.3rem;
      border-radius: 1.6rem;

      .group-80-Kd6 {
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 1.6rem;
        width: 100%;
        height: 100%;

        .auto-group-4eon-56U {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 4.8rem;
          width: 100%;
          display: flex;

          .the-best-gifts-1F2 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #ff0000;
          }
          .our-awesome-portfolio-Lo6 {
            line-height: 1.2575;
            text-transform: capitalize;
            color: #070211;
            white-space: nowrap;
            font-size: 4.8rem;
            font-weight: 900;
            font-family: Merriweather, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.1rem;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-Tsi {
            max-width: 87.2rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-5dcg-8U4 {
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;
          column-gap: 2.4rem;
          align-items: center;
          flex-shrink: 0;

          .rectangle-3-4sW {
            height: 45rem;
            position: relative;
            background-size: 100% 142.115%;
            background-position: 0 -3.5755rem;
            background-image: url('REPLACE_IMAGE:edebdb2c7a9c4850842fb04fa334eb4adf728b81');
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
          }
          .rectangle-4-Z3a {
            flex-shrink: 0;
            width: 42.4rem;
            height: 45rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
          }
          .rectangle-5-HEU {
            width: 42.4rem;
            height: 45rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
          }
        }
        .auto-group-elgt-oic {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          column-gap: 2.4rem;

          .rectangle-6-kNx {
            background-position: -19.5366rem 0;
            background-image: url('REPLACE_IMAGE:ad148d01aac299b2eb334e0e257d4c1ca1373e78');
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
            height: 45rem;
            position: relative;
            background-size: 156.077% 100%;
          }
          .rectangle-7-rRz {
            height: 45rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
          }
          .rectangle-8-CVr {
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
            height: 45rem;
            object-fit: cover;
          }
        }
      }
    }
    .group-65-X2L {
      width: 100%;
      display: flex;
      border-radius: 1.6rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8rem 22.4rem;
      align-items: center;
      flex-direction: column;
      background-color: rgba(255, 0, 0, 0.0500000007);

      .group-62-Fj2 {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 4.8rem;
        width: 100%;
        align-items: center;
        display: flex;

        .group-61-oVe {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 15rem;
          height: 15rem;
          object-fit: contain;
        }
        .group-60-93i {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .subscribe-newsletter-6zY {
            margin-bottom: 2.1rem;
            font-size: 4.8rem;
            font-weight: 900;
            line-height: 1.2575;
            text-transform: capitalize;
            flex-shrink: 0;
            text-align: center;
            color: #070211;
            font-family: Merriweather, 'Source Sans Pro';
            white-space: nowrap;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-RX2 {
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 87.2rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
      .group-64-JKv {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        margin: 0 11.2rem;
        box-sizing: border-box;
        padding-left: 3rem;
        width: calc(100% - 22.4rem);
        height: 7.2rem;
        border-radius: 5rem;
        flex-shrink: 0;

        .usergmailcom-Qtk {
          margin-right: 26.7rem;
          font-size: 1.8rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
          color: rgba(7, 2, 17, 0.3000000119);
          flex-shrink: 0;
        }
        .group-63-L1i {
          width: 21rem;
          text-align: center;
          font-weight: 600;
          text-transform: capitalize;
          justify-content: center;
          height: 100%;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          background-color: #ff0000;
          border-radius: 0 5rem 5rem 0;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          display: flex;
        }
      }
    }
  }
  .group-59-9jr {
    background-color: #070211;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12rem 14rem 11.9rem 14rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .group-43-U1S {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 13.5rem 5rem 0rem;
      width: calc(100% - 13.5rem);
      height: 8rem;
      display: flex;

      .big-building-roosevelt-street-beach-gardens-florida-33410-b64 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.6666666667;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 55.9rem;
        max-width: 37.5rem;
      }
      .group-42-62p {
        width: 25.1rem;
        height: 100%;
        flex-shrink: 0;

        .group-40-FAc {
          margin-right: 1.6rem;
          width: calc(100% - 1.6rem);
          display: flex;
          align-items: center;

          .frame-C5r {
            margin-right: 1.6rem;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-00-123-584-124-j5n {
            line-height: 1.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
          }
        }
        .group-41-eiY {
          display: flex;
          align-items: center;
          width: 100%;

          .frame-QSp {
            margin-right: 1.6rem;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .wwwwebsitecom-99W {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.6666666667;
          }
        }
      }
    }
    .line-1-ftY {
      background-color: rgba(255, 255, 255, 0.150000006);
      flex-shrink: 0;
      margin-bottom: 4.7rem;
      width: 100%;
      height: 0.1rem;
    }
    .group-39-1Sc {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 4.8rem 0.8rem;
      width: 32.8rem;
      height: 6.4rem;
    }
    .line-2-LDz {
      flex-shrink: 0;
      margin-bottom: 4.9rem;
      width: 100%;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.150000006);
    }
    .auto-group-4kmr-Ub6 {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .all-rights-reserved-S28 {
        flex-shrink: 0;
        margin-right: 88rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .unsubscribe-xmA {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
